<section>
  <header>
    <h1>Paga Con Wompi</h1>
  </header>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="container-input">
        <label for="name">Nombre:</label>
        <input id="name" formControlName="name" type="text" />
      </div>
      <div class="container-input">
        <label for="description">Descripción:</label>
        <input id="description" formControlName="description" type="text" />
      </div>
      <div class="container-input">
        <label for="valueToPay">Valor a pagar:</label>
        <input id="valueToPay" formControlName="valueToPay" type="number" />
      </div>
      <div class="container-input">
        <label for="documentNumber">CC:</label>
        <input
          id="documentNumber"
          formControlName="documentNumber"
          type="number"
        />
      </div>
      <div class="container-input">
        <label for="nameUser">Nombre completo:</label>
        <input id="nameUser" formControlName="nameUser" type="text" />
      </div>
      <div class="container-input">
        <button class="button" [disabled]="!form.valid" type="submit">
          Ir a Pagar ->
        </button>
      </div>
    </form>
  </div>
  <div
    *ngIf="transactionByIdResponse != null"
    style="
      border: 1px solid #000;
      padding: 30px;
      text-align: center;
      width: 350px;
    "
  >
    <div class="containerStateOfTransaction">
      <div *ngIf="transactionByIdResponse.transactionState === 'APPROVED'">
        <h3 style="color: #1cb330">¡Transacción exítosa!</h3>
        <div
          class="transacción-detail"
          style="
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 20px;
          "
        >
          <span style="border-bottom: 1px solid #000"
            >Nombre: {{ trasactionDetail.name }}</span
          >
          <br />
          <span style="border-bottom: 1px solid #000"
            >Descripción: {{ trasactionDetail.description }}</span
          >
          <br />
          <span style="border-bottom: 1px solid #000"
            >Total pagado:
            {{ trasactionDetail.amount_in_cents / 100 | currency }}
          </span>
          <br />
        </div>
      </div>

      <h3
        *ngIf="transactionByIdResponse.transactionState === 'DECLINED'"
        style="color: rgb(179, 25, 56)"
      >
        ¡Transacción Fallida!
      </h3>
      <h3
        *ngIf="transactionByIdResponse.transactionState === 'PENDING'"
        style="color: blueviolet"
      >
        Transacción en proceso... <br />
        <span style="color: #000; font-size: 14px"
          >puedes esperar hasta 24 horas, vuelve mas tarde</span
        >
      </h3>
      <h3
        *ngIf="
          transactionByIdResponse.transactionState === 'VOIDED' ||
          transactionByIdResponse.transactionState === 'ERROR'
        "
      >
        Ups, ha ocurrido un error al realizar la transacción
      </h3>
    </div>
  </div>
</section>
